# Next.js output
.next
out

# Logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
*.log

# Build
dist
build

# Local dependencies
node_modules

# Environment files
.env
.env.*
!.env.example

# System
.DS_Store
Thumbs.db

# VSCode / IDE
.vscode
.idea
*.suo
*.ntvs*
*.njsproj
*.sln

# Coverage and testing
coverage
jest.config.js

# Frilansportalen spesifikt
.env.local
certs/
